<% @page_title = "Main Charter" %>

<div class="">
	<h1>Welcome to CMS System</h1>
	<p> Here we are working for the competation of advancement of improvement of the CMS base system, here we have to mention few ideas that I have to implement in the further improvement procedure of the this CMS system.</p>
	<ul>
		<li>Admin have admin in order to create any page or section</li>
		<li>Create the Content to manage the navigation,aside or promotion content with respect to the Subject</li>
		<li>Improve user profile by adding picture or any other content</li>
		<li>User have privilege to show its content</li>
		<li>Add username or login name in the top navigation</li>
	</ul>
</div>